/*单独模块样式*/
.article{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 10px;
    /* max-width: 1300px; */
    margin-bottom: 20px;

}
.article > .ant-card{
  margin: 10px;
}

.home > .search-bar{
  display: flex;
  justify-content: flex-start;
  padding: 15px 0 0 10px;
  margin-left: 10px;
}

@media screen and (min-width: 375px) and (max-width: 576px){
  .article {
    padding: 0;
  }
  .article > .ant-card{
    width: 100%;
    margin: 10px 0;
}
}


@media (min-width: 768px){
  .article > .ant-card{
    width: 320px;
}
}
