/*单独模块样式*/
.article{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 10px;
    max-width: 1300px;
    margin-bottom: 20px;

}
.article > .ant-card{
  margin: 10px;
}